section main
       defaultmodule=ModPerlDoc/awfulcms
       wildcardmappings=1
       filematch=1
       display-time=0
endsection

section default
       # default roles for users not specified in users section
       # can be overridden per module config
       unauthorized-role=reader
       authorized-role=author
       allow-remote-user=1
endsection

section modules
       Mod404=1
       ModExample=1
       ModBlog=1
       ModTest=1
       ModDirIndex=1
       ModGallery=1
       ModRedirect=1
       ModTemplate=1
       # incomplete so far
       ModDig=1
       ModMac=1
       ModMidget=1
       ModPerlDoc=1
       ModUserInfo=1
endsection

section mapping
       tools/dig=ModDig
endsection

section ModPerlDoc
       modulepath=/usr/lib/perl5
       vendor-perl=1
       display-time=1
endsection

section ModPerlDoc/awfulcms
       vendor-perl=0
       doc-dirs=/AwfulCMS,/AwfulCMS/ModBlog,/AwfulCMS/SynMarkdown
       modulepath=/srv/web/awfulcms/lib
       title=AwfulCMS documentation
endsection

section ModDig
       display-time=1
endsection
